<ons-page>
    <!--ツールバー-->
    <ons-toolbar id="title" fixed-style>
            <div class="toolbar__left toolbar--material__left" style="position: relative;">
                    <img class="toolBarIcons" src="img_common/logo_jaf.png" width="100" height="38" alt="JAF" style="width:100%;height:auto;" ng-click="tab.iconTouch()">
            </div>
            <div class="toolbar__center toolbar--material__center">
                <h2><img src="img_common/logo_stamprally.png" width="281" height="66" alt="スタンプラリー" style="width:100%;height:auto;"></h2>
            </div>
            <div class="toolbar__right toolbar--material__right" style="position: relative;">
                <span class="newsBtn">
                    <img src="img_common/head_icon_news.png" width="36" height="36" alt="" align="left"　style="width:50%;height:auto;" ng-click="tab.newsTouch()">
                </span>
                <span class="settingBtn">
                    <img src="img_common/head_icon_setting.png" width="36" height="36" alt="" align="right"　style="width:50%;height:auto;" ng-click="tab.settingTouch()">
                 </span>
            </div>
    </ons-toolbar>
    <!--タブバー-->
    <ons-tabbar var="mainTab">
            <ons-tab page="html/home.html" active="true">
                <img src="img_common/navbar_icon_home.png" width="40" height="42" alt="">
            </ons-tab page="html/rally.html">
            <ons-tab >
                <img src="img_common/navbar_icon_note.png" width="40" height="42" alt="">
            </ons-tab>
            <ons-tab page="html/spot.html">
                <img src="img_common/navbar_icon_stamp.png" width="40" height="42" alt="">
            </ons-tab>
            <ons-tab page="html/coupon.html">
                <img src="img_common/navbar_icon_coupon.png" width="40" height="42" alt="">
            </ons-tab>
            <ons-tab page="html/star.html">
                <img src="img_common/navbar_icon_star.png" width="40" height="42" alt="">
            </ons-tab>
    </ons-tabbar>
</ons-page>