<!DOCTYPE HTML>
<html> 

<head ng-app="stampRallyApp">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * https://codepush.azurewebsites.net 'self' data: gap://ready file: https://ssl.gstatic.com 'unsafe-eval'; style-src * 'self' 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src *">
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/onsenui/js/onsenui.js"></script>
    <script src="bower_components/onsenui/js/angular-onsenui.js"></script>
    <script type="text/javascript" src="cordova.js"></script>

    <link rel="stylesheet" href="bower_components/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="bower_components/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="js/util/jquery-ui-1.12.1/jquery-ui.min.css"> 
    <link rel="stylesheet" href="css/style.css">

    <link href="css/default.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <!--追加のモジュール-->   
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_ja-jp.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!--jQuery-->
    <script src="js/util/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8" async></script>
    <script src="js/util/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8" async></script>
    <script src="js/util/jquery.ui.touch-punch.min.js" type="text/javascript" charset="utf-8" async></script>

    <!-- ログイン画面のスクリプト-->
    <!--<script src="js/login.js"></script>-->
    <!-- ホーム画面のスクリプト-->
    <script src="js/home.js"></script>
    <script src="js/home-view.js"></script>
    <!--ラリー帳のスクリプト-->
    <script src="js/rally.js"></script>
    <!-- 近くのスポットのスクリプト-->
    <script src="js/spot.js"></script>
    <!--クーポンのスクリプト-->
    <script src="js/coupon.js"></script>
    <!-- お気に入りのスクリプト-->
    <script src="js/star.js"></script>
    <!-- 設定画面のスクリプト-->
    <script src="js/setting.js"></script>
    <!-- お知らせ画面のスクリプト-->
    <script src="js/news.js"></script>
    <!-- 応募画面のスクリプト-->
    <script src="js/entry.js"></script>
    <!-- ヘッダーメニューとフッターメニューのスクリプト-->
    <script src="js/tab-bar.js"></script>
    <!--ファイル保存の為のスクリプト-->
    <!--<script src="js/util/b64utils.js"></script>-->
    <!-- サービス-->
    <script src="js/service/get-img-service.js"></script>
</head>

<body>
    <!--読み込み中モーダル-->
    <ons-modal var="roadingModal">
            <div style="text-align: center">
                    <p>
                            <ons-icon icon="md-spinner" size="28px" spin></ons-icon> 読み込み中...
                    </p>
            </div>
    </ons-modal>
    <!--ログイン画面-->
    <ons-page ng-controller="tabCtr as tab">
    <!--スタンプ画像-->
    <img id="stampImg" src="" style="position:absolute; z-index: 10000; bottom:25%; left:13%;visibility:hidden;">
    <!--ツールバー-->
    <ons-toolbar id="header" style="background-color:WHITE"　fixed-style>
            <div class="toolbar__left toolbar--material__left" style="position: relative;">
                    <img class="toolBarIcons" src="img_common/logo_jaf.png" width="100" height="38" alt="JAF" style="width:100%;height:auto;" ng-click="tab.iconTouch()">
            </div>
            <div class="toolbar__center toolbar--material__center"  style="position: relative;">
                    <h2><img id="head_icon" class="toolBarIcons" src="img_common/logo_stamprally.png" width="281" height="66" alt="スタンプラリー" style="width:100%;height:auto;"></h2>
            </div>
            <div class="toolbar__right toolbar--material__right" style="position: relative;">
                    <span class="newsBtn">
                    <img id="head_news" src="img_common/head_icon_news.png" width="36" height="36" alt="" align="left"　style="width:50%;height:auto;" ng-click="tab.newsTouch()">
                    </span>
                    <span class="settingBtn">
                    <img id="head_setting" src="img_common/head_icon_menu.png" width="36" height="36" alt="" align="right"　style="width:50%;height:auto;" ng-click="tab.settingTouch()">
                    </span>
            </div>
    </ons-toolbar>

    <ons-splitter>
        <ons-splitter-side id="menu" side="right" width="250px" collapse>
            <ons-page>
                <ons-list id="menuList" model="table">
                    <ons-list-header style="background-color: #0071bc;color:#ffffff;">
                        <ons-icon icon="fa-gear"></ons-icon>アプリ設定
                    </ons-list-header>
                    <ons-list-item modifier="tappable" class="list__item__line-height" ng-click="tab.info()">
                        通知設定
                    </ons-list-item>
                    <ons-list-item modifier="tappable" class="list__item__line-height" ng-click="tab.accountOpen()">
                        アカウント
                    </ons-list-item>
                    <ons-list-item modifier="tappable" class="list__item__line-height" ng-click="tab.howtoOpen()">
                        アプリの使い方
                    </ons-list-item>
                    <ons-list-item modifier="tappable" class="list__item__line-height" ng-click="tab.contractOpen()">
                        ご利用規約
                    </ons-list-item>
                    <ons-list-item modifier="tappable" class="list__item__line-height" ng-click="tab.contactOpen()">
                        お問い合わせ
                    </ons-list-item>
                    <ons-list-header style="background-color: #0071bc;color:#ffffff;">
                        <ons-icon icon="fa-map"></ons-icon>マップアプリと連携
                    </ons-list-header>
                    <ons-list-item id="mapapp" modifier="tappable" class="list__item__line-height" ng-click="tab.mapOpen()">
                        マップアプリで開く
                    </ons-list-item>
                </ons-list>
                <img src="img_common/logo_jaf.png" style="position:absolute; bottom:0;">
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="html/tab.html"></ons-splitter-content>
    </ons-splitter>
</body>

</html>